body {
  margin: 15px;
  padding: 0;
  font-family: sans-serif;
  background-color: #a2b2b9;
}

.list {
  width: 290px;
  padding: 0;
  border: 1px solid #ccc;
  list-style-type: none;
  color: white;
  border-radius: 3px;
}

.list__item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px;
  border: 1px solid #ddd;
  background: #0d546b;
  border-radius: 3px;
}

.list__button {
  margin-left: auto;
  padding: 5px 15px;
  border: none;
  color: inherit;
  border-radius: 3px;
  cursor: pointer;
}

.list__button--save {
  background-color: green;
}

.list__button--remove {
  background-color: crimson;
}

.list__label--display {
  margin: 0 15px;
}

.list__label--edit {
  height: 18px;
  width: 140px;
  margin: 0 15px;
  font-size: 15px;
}

.form__label {
  display: block;
  font-size: 18px;
}
